*{
    padding: 0;
    margin: 0;
    outline: none;
  }
  
  header {
    background-color: #3796c9;
    color: white;
    height: 60px;
    padding: 24px;
    font-family:'Segoe UI semibold';
    font-size: 50px;
   
  }

  h1{
    margin-left: 10px;
    
  }
  .topnav {
    height:40px;
    overflow: hidden;
    background-color: black;
    font-family:'Segoe UI semibold';
    
  }
  
  .img{
    float:right;
    padding: 15px;
    
  }
  .topnav ul {
    display: flex;
   padding-left: 5px;
    color: white;
  }
  
 .topnav li{
  
  list-style-type: none;

  justify-content: center;
  font-size: 18px;
  padding-top: 10px ;
  padding-left: 24px;
  
 }
 .topnav a{
    text-decoration: none;
    color: white;
    
 }
 .topnav a:hover {
    background-color:#ff9600;
    padding: 10px;
    
  }
  
  a.servicehover {
    
    padding: 20px;
    border-left: 5px solid white ;
    background-color:#ff9600;
    
    color:black;
  }
  .required{
    color:red;
  }